<!--#begin edit -->
<form name="options" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/edit" />


<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="5" cellspacing="0" class="BabLoginMenuBackground">
		<tr>
			<td align="center">&nbsp;
				<!--#if key -->
				{ key }
				<input type="hidden" name="key" value="{ key }" />
				<!--#else key -->

				<input type="hidden" name="directory" value="{ directory }" />
				
				<p>
					{ t_directory } : { directory }<input type="text" name="new_directory" value="" /><br /><br />
				</p>
				<p>
				{ t_key } : <input type="text" name="new_key" value="" />
				
				<select name="cast">
					<option value="string">{ t_string }</string>
					<option value="int">{ t_integer }</string>
					<option value="float">{ t_float }</string>
				</select><br />
				</p>
				<!--#endif key -->
			</td>
		</tr>
		
		<tr>
			<td align="center">
				{ t_value } :<br />
				<!--#if value_type "== boolean" -->
				<select name="newvalue">
				<!--#if value "== 1" -->
				<option value="1" selected="selected">True</option>
				<option value="">False</option>
				<!--#else value -->
				<option value="1">True</option>
				<option value="" selected="selected">False</option>
				<!--#endif value -->
				</select>
				<!--#else value_type -->
				<textarea style="width:90%;margin:1em auto;" name="newvalue">{ value }</textarea>
				<!--#endif value_type -->
			</td>
		</tr>

		<tr>
			<td colspan="2" align="center">
				<br /><input type="submit" value="{ t_submit }" /> &nbsp;
				
				<!--#if key -->
				 <input type="submit" name="delete" value="{ t_delete }" />
				<!--#endif key -->
			</td>
		</tr>
	</table>
</td>
</tr>
</table>



</form>
<!--#end edit -->



<!--#begin move -->
<form name="options" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/move" />


<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="5" cellspacing="0" class="BabLoginMenuBackground">
		<tr>
			<td align="center">&nbsp;
				<input type="hidden" name="path" value="{ path }" />
				<p>
					{ t_path } :<input type="text" name="newpath" value="{ path }" /><br />
				</p>
			</td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				<br /><input type="submit" value="{ t_submit }" /> &nbsp;
			</td>
		</tr>
	</table>
</td>
</tr>
</table>



</form>
<!--#end move -->